.special-button {
  padding: 10px 13.5px;
  border: none;
  margin: 7.5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
  position: relative;
  transition: 0.5s ease-in;
}

.special-button:hover {
  scale: 1.1;
  color: white;
  transition: 0.5s;
}

.special-button:active {
  opacity: 0.5;
  scale: 1.02;
}

.special-button::after {
  content: '';
  position: absolute;
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  z-index: -1;
  border-radius: 6px;
  top: -2.5px;
  left: -2.5px;
  background: linear-gradient(
    100deg,
    var(--purple),
    var(--red),
    var(--pink),
    var(--blue)
  );
  animation: animate 3s ease infinite;
  background-size: 300% 100%;
}

@keyframes animate {
  to {
    background-position: 0% 0%;
  }

  50% {
    background-position: 90% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}
