.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-buttons {
  margin: 10px;
  display: flex;
  gap: 20px;
}

.home-hint, .play-hint {
  font-size: 0.75rem;
  margin: 2.5px;
  font-style: italic;
  color: #111;
}

.starlink-meme {
  z-index: 1000;
  height: 135px;
  width: auto;
  border-radius: 5px;
  margin: 5px 2px;
}
