.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-buttons {
  margin: 10px;
  display: flex;
  gap: 20px;
}

.home-hint {
  font-size: 0.75rem;
  margin: 5px;
  font-style: italic;
  color: black;
}

.starlink-meme {
  z-index: 1000;
  height: 100px;
  width: auto;
}
