.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.game .button-group {
  display: flex;
  gap: 10px;
}

.game .header-bars {
  width: 90%;
  display: flex;
  gap: 30px;
}

.game .contestants {
  margin: 2.5px;
  font-weight: 600;
}

.game .word-output {
  padding: 5px;
  text-align: center;
  border: 0.5px solid #333;
}

.game .word-output:focus,
.game .word-output:active {
  outline: none;
  border: 0.75px solid #333; 
}
