.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .nick {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 7.5px;
}

.home .copyright {
  font-size: 0.8rem;
  color: #5a5a5a;
}

.home .input {
  padding: 5px;
  margin: 7.5px;
  outline: none;
  border: 1px solid #333;
  border-radius: 2px;
  width: 40%;
}

.home .description {
  margin: 7.5px;
  font-size: 0.92rem;
  width: 500px;
  text-align: center;
  line-height: 1.5;
}
