h1 {
  width: 137px;
  margin: 7.5px;
  position: relative;
  font-size: 2.5rem;
}

h1::after {
  content: '';
  left: 50%;
  bottom: 14%;
  height: 5px;
  width: 95%;
  z-index: -1;
  position: absolute;
  background-color: var(--red);
  transform: translateX(-50%);
  background: linear-gradient(to right, var(--red), var(--pink), var(--blue));
}
