h1 {
  margin: 5px;
  width: 137px;
  position: relative;
  font-size: 2.5rem;
}

h1::after {
  content: '';
  left: 50%;
  bottom: 14%;
  height: 5px;
  width: 95%;
  z-index: -1;
  position: absolute;
  background-color: var(--red);
  transform: translateX(-50%);
  background: linear-gradient(
    to right,
    var(--blue),
    var(--pink),
    var(--red),
    var(--purple)
  );
  background-size: 200% 100%;
  animation: animate 4s linear infinite;
  transform: translateX(-50%);
}

@keyframes animate {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 400% 0%;
  }
}
