.word-grid {
  margin: 10px;
  display: grid;
  font-size: 1rem;
  color: #555;
  font-weight: bold;
  border: 0.1px solid #777;
}

/* only have borders on right and bottom */
.word-grid > div {
  margin: 0;
  font-size: 0.8rem;
  padding-top: 1.25px;
  padding-bottom: 1.25px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  border-right: 0.1px solid #777;
  border-bottom: 0.1px solid #777;
  user-select: none;
  cursor: pointer;
}
