.word-grid {
  margin: 2.5px;
  display: grid;
  color: #333;
  /* font-weight: bold; */
  border: 0.1px solid #999;
}

/* only have borders on right and bottom */
.word-grid > div {
  margin: 0;
  font-size: 0.8rem;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  padding-left: 7.5px;
  padding-right: 7.5px;
  border-right: 0.1px solid #999;
  border-bottom: 0.1px solid #999;
  user-select: none;
}
